@page "/"

<PageTitle>Home</PageTitle>

<h3>Blazor State Manager Demo</h3>
<p>This is a demo of the Blazor State Manager library. The library provides a simple way to manage state in Blazor applications.</p>