@page "/localstoragestate"
@using BlazorStateProvider.Interface
@inject ILocalStorageStateProvider LocalStorageProvider

<h3>Local Storage Demo</h3>
<p>Current Local Storage Count: @_localCount</p>
<button @onclick="IncrementLocalCount">Increment</button>
<button @onclick="ResetLocalCount">Reset</button>

@code {
    private int _localCount;

    protected override async Task OnInitializedAsync()
    {
        _localCount = await LocalStorageProvider.GetStateAsync<int>("localCount");
    }

    private async Task IncrementLocalCount()
    {
        _localCount++;
        await LocalStorageProvider.SetStateAsync("localCount", _localCount);
    }

    private async Task ResetLocalCount()
    {
        _localCount = 0;
        await LocalStorageProvider.RemoveStateAsync("localCount");
    }
}