@page "/sessionstoragestate"
@using BlazorStateProvider.Interface
@inject ISessionStorageStateProvider SessionStorageProvider

<h3>Session Storage Demo</h3>
<p>Current Session Storage Count: @_sessionCount</p>
<button @onclick="IncrementSessionCount">Increment</button>
<button @onclick="ResetSessionCount">Reset</button>

@code {
    private int _sessionCount;

    protected override async Task OnInitializedAsync()
    {
        _sessionCount = await SessionStorageProvider.GetStateAsync<int>("sessionCount");
    }

    private async Task IncrementSessionCount()
    {
        _sessionCount++;
        await SessionStorageProvider.SetStateAsync("sessionCount", _sessionCount);
    }

    private async Task ResetSessionCount()
    {
        _sessionCount = 0;
        await SessionStorageProvider.RemoveStateAsync("sessionCount");
    }
}